@model MeuDinheiro.AppMvc.ViewModels.CategoriaViewModel

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Editar Categoria</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@using (Ajax.BeginForm("Editar", "Categorias", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onChangeSucess(data)", OnFailure = "onChangeFailure(data)" }, new { role = "form", id = "Form" }))
{
    <div class="modal-body">

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger text-center" })

        @Html.Partial("_FormCategoria")

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" id="btnSubmit" class="btn btn-success">Salvar</button>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        validarForm();
    });
 </script>

